:root {
    --main-color: #2B637E;
}

/* Hide scrollbar for Chrome, Safari and Opera */

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {

}
main {
    background: url("/images/background.jpg") no-repeat;
    background-size: cover;
}

.size {
    width: 30%;
    margin-top: 7%;
    margin-bottom: 14%;
}

.link-size {
    width: 60%;
}

.bg-color {
    background-color: var(--main-color);
}

.txt-color {
    color: var(--main-color);
}

body {
    font-family: "Inter", sans-serif;
}

.main-div {
    -webkit-box-shadow: 0 0 13px 10px rgba(43, 99, 126, 0.9);
    box-shadow: 0 0 13px 10px rgba(43, 99, 126, 0.9);
}

.hover-animation::after {
    content: "";
    display: block;
    height: 1px;
    background: white;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.hover-animation:hover::after {
    transform: scale(1);
}

.hover-buttons {
    color: white;
}

.hover-buttons:hover {
    background-color: white;
    color: var(--main-color);
    border: rgba(0, 0, 0, 0);
    transition: 0.5s;
}
